html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #070720;
}

body {
  display: flex;
}

button:hover {
  filter: brightness(1.38)
}

#history-container {
  width: 300px;
  margin: 40px 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #191937;
  max-height: 85vh;
  overflow-y: scroll;
}

#history {
  color: white;
}

.histPara {
  background-color: #313160;
  padding: 10px 20px;
  border-radius: 10px;
}

#calculator {
  display: flex;
  justify-content: center;
  background-color: #313160;
  width: 500px;
  height: 800px;
  margin: 50px auto;
  border: 10px solid hsl(0, 0%, 30%);
  border-radius: 40px;
}

#button-container {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 430px;
  height: 500px;
  align-content: flex-start;
  gap:  6px 6px;
  
}

.calc-button {
  width: 100px;
  background-color: #b3b3cf;
  height: 100px;
  font-size: 40px;
  border: 1px solid black;
  border-radius: 15px;
}

#result {
  width: 400px;
  height: 100px;
  margin: 0 5px 60px 5px;
  padding: 14px 40px 40px;
  background-color: rgb(245, 244, 244);
  color: black;
  font-size: 70px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 10px;
}

#result-text {
  height: 45%;
}

#result > * {
  margin: 0;
}

#before-text {
  font-size: 25px;
  color: rgb(87, 87, 87);
  height: 45%;  
}

.clear-btn {
  background-color: rgb(158, 13, 13);
  color: white;
}

.sum-btn {
  background-color: rgb(0, 79, 0);
  color: white;
}

.op-button {
  background-color: rgb(49, 40, 67);
  color: white;
}

#operatorr {
  padding: 10px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 20px;
  width: 20px;
  text-align: center;
}