html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
}

#calculator {
  display: flex;
  justify-content: center;
  background-color: gray;
  width: 500px;
  height: 800px;
  margin: 50px auto;
  border: 10px solid hsl(0, 0%, 30%);
  border-radius: 40px;
}

#button-container {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 430px;
  height: 500px;
  align-content: flex-start;
  gap:  6px 6px;
  
}

.calc-button {
  width: 100px;
  height: 100px;
  font-size: 40px;
  border: 1px solid black;
  border-radius: 15px;
}

#result {
  width: 400px;
  height: 100px;
  margin: 0 5px 30px 5px;
  padding: 0px 10px;
  background-color: lightgray;
  color: black;
  font-size: 70px;
  border: 2px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}

.clear-btn {
  background-color: red;
  color: white;
}

.sum-btn {
  background-color: green;
  color: white;
}

.op-button {
  background-color: bisque;
}

#operatorr {
  margin: -20px -10px 69px 20px;  
  border-top-right-radius: 8px;
  background-color: hsl(0, 0%, 90%);
  font-size: 30px;
  margin-top: 0px;
  width: 20px;
  text-align: center;
}